* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "work sans", sans-serif;
    background-color: #dddddd;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1 {
   font-family: "fjalla one", sans-serif;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

fieldset {
    padding: 15px;
    border: 3px solid #cccccc;
    border-radius: 7px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 17px;
    padding: 0 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #cccccc;
    border-radius: 7px;
}

textarea {
    min-height: 100px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    width: 50px;
    padding: 0 10px;
}

input:invalid, select:invalid, textarea:invalid {   
    border-color: red;
}

input:valid, select:valid, textarea:valid {   
    border-color: green;
}

p {
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    padding: 5px 30px;
    font-size: 16px;
    border: 3px solid #999999;
    background-color: #eeeeee;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #008000;
    color: #ffffff;
}

button[type="reset"]:hover {
    background-color: #ff0000;
    color: #ffffff;
}