* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "work sans", sans-serif;
    background-color: #dddddd;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1 {
   font-family: "fjalla one", sans-serif;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

fieldset {
    padding: 15px;
    border: 3px solid #cccccc;
    border-radius: 7px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 17px;
    padding: 0 5px;
}

